h5py
mediapipe 
setuptools==45
click
enum-compat
enum34
eventlet
Flask
Flask-SocketIO
gevent
gevent-websocket
greenlet
gunicorn
itsdangerous
Jinja2
MarkupSafe==1.1.0
numpy
olefile
opencv-python
Pillow==4.2.1
python-engineio
python-socketio
redis
six
Werkzeug
